<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link href="~/css/normalize.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4f8c8031c0.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap" rel="stylesheet">



    <link rel="stylesheet" href="~/css/estilo.css" />
</head>
<body>
    <header id="menu">
        <h1><i>DATAEQUIBO</i></h1>
        <nav>

            <ul>
                <li id="lista_menu"><a id="icono" asp-area="" asp-page="/Index"><i class="fas fa-home" ></i>HOME</a></li>
                <li id="lista_menu"><a id="icono" asp-area="" asp-page="/Inicio"><i class="far fa-address-card" ></i>INICIO SESIÓN</a></li>
                <li id="lista_menu"><a id="icono" asp-area="" asp-page="/Registro"><i class="fas fa-mail-bulk"></i>REGISTRO</a></li>

            </ul>


        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="PiePagina">

        <h2 id="redes">SIGUENOS EN REDES SOCIALES</h2>

        <div id="contenedor_redes">
            <div id="REDES" class="FACEBOOK">
                <i id="REDES_ICONO" class="fab fa-facebook-square"></i>
                <b>DataEquibo</b>
            </div>
            <div id="REDES" class="INSTAGRAM">
                <i id="REDES_ICONO" class="fab fa-instagram-square"></i>
                <b>DataEquibo</b>
            </div>
            <div id="REDES" class="DISCORD">
                <i id="REDES_ICONO" class="fab fa-discord"></i>
                <b>DataEquibo</b>
            </div>
            <div id="REDES" class="TWITTER">
                <i id="REDES_ICONO" class="fab fa-twitter"></i>
                <b>DataEquibo</b>

            </div>

        </div>

        <h2 id="redes"><b>GRUPO COLABORATIVO</b></h2>

        <table id="tabla1">
            <tr>
                <td><b>Nombre</b></td>
                <td><b>Correo</b></td>
                <td><b>Rol</b></td>
            </tr>
            <tr>
                <td>Juan Sebastian Mendez</td>
                <td><b>mendezsebas8@gmail.com</td><td>Diseñador de Software</td>
              </tr>
              <tr> 
                <td>Eder Alonso Villazon</td><td><b>edervillazon@gmail.com</td><td>Tester</td>
              </tr>
              <tr> 
                <td>Mindy Jisseth Rojas</td><td><b>mindyjisseth@gmail.com</td><td>Lider de equipo</td>
              </tr>

              <tr> 
                <td>Diana Patricia Cubillos</td><td><b>dyanita_2349@hotmail.com</td><td>Admin configuración</td>
              </tr>

              <tr> 
                <td>Luis Alejandro Mendoza</td><td><b>luismendoza31110@gmail.com</td><td>Diseñador UI</td>
              </tr>



        </table>


    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
