@page
@model Ganaderia.App.Frontend.Pages.RegistroModel
@{
}
   <div class="REGISTRO">

        <div class="REGISTRO_FORMULARIO2">


            <form id="REGISTRO_FORMULARIO2_FORM">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">VETERINARIO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="NOMBRE" required="" placeholder="Ingrese Nombre">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">CEDULA</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="CEDULA" required="" placeholder="Ingrese Cedula">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">TELEFONO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="TELEFONO" required="" placeholder="Ingrese Telefono">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">USUARIO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="usuario" required="" placeholder="Ingrese Usuario">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">CONTRASEÑA</h2>
                <input id="ENTRADA_REGISTRO" type="password" name="contraseña" required="" placeholder="Ingrese Contraseña">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">T.PROFESIONAL</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="TARJETA_PROFESIONAL" required="" placeholder="Ingrese Tarjeta Profesional">
                <input id="boton_2" type="submit" value="Registrarse">
            </form>
        </div>
        <div class="REGISTRO_FORMULARIO3">


            <form id="REGISTRO_FORMULARIO3_FORM">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">GANADERO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="NOMBRE" required="" placeholder="Ingrese Nombre">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">CEDULA</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="CEDULA" required="" placeholder="Ingrese Cedula">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">TELEFONO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="TELEFONO" required="" placeholder="Ingrese Telefono">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">CORREO</h2>
                <input id="ENTRADA_REGISTRO" type="text" name="usuario" required="" placeholder="Ingrese Correo">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">CONTRASEÑA</h2>
                <input id="ENTRADA_REGISTRO" type="password" name="contraseña" required="" placeholder="Ingrese Contraseña">
                <h2 id="FORMULARIO_TEXTO_REGISTRO">Dirección</h2>
                <textarea name="message" rows="7" cols="30" placeholder="Ingrese Dirección" required=""></textarea>
                <input id="boton_3" type="submit" value="Registrarse">
            </form>
        </div>









    </div>
